.navbar-bg {
    background-color: var(--morado-oscuro-secundario);
}

.text-color {
    color: var(--morado-claro);
}

.input-busqueda {
    background-color: var(--morado-claro);
}

.input-busqueda::placeholder{
    color: var(--morado-oscuro-secundario);
    font-weight: bolder;
}

.img-perfil-navbar {
    width: 30px;
    height: 30px;
}

.dropdown-hiden-menu {
    display: none;
}

.dropdown-bg {
    background-color: var(--morado-oscuro-secundario);
}

.dropdown-menu li {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: -100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

@media (max-width: 1190.40px) {
    .hidden-nav-item {
        display: none;
    }

    .input-busqueda {
        width: 100px !important;
    }

    .dropdown-hiden-menu {
        display: block;
    }

    .img-hidden-sm {
        display: none;
    }
}
