<main class="login" [formGroup]="ingreso" (keydown.enter)="ingresoUsuario()">
    <div class="container ">
        <div  class="d-flex justify-content-between align-items-center">
            <div class="d-flex mt-4 ">
                <div class="me-5 d-grid align-items-center"><i class="fa-regular fa-comments fa-3x"></i></div>
                <h1 class="nombre LogoShareHubFont">ShareHub</h1>
            </div>
            <div class="d-grid align-items-end mt-4 d-none d-lg-block">
                <h3 class="TextoShareHubFont">El poder de la conexion</h3>
            </div>
        </div>
    </div>
<!-- -----------------------------------parte superior, logo, nombre y eslogan-------------- -->
    <div class="container mt-4 d-flex justify-content-between ">
        <div class="container linea d-none d-lg-block mt-5">
            <h1 class="fs-1 TextoShareHubFont mb-5">Login</h1>
            <h3 class="TextoShareHubFont ">Ingresa a tu cuenta y mira lo que hacen tus amigos</h3>
        </div>

        <div class="container">
            <div class="mx-auto">
                <div class="cuadro rounded-5 p-3 d-flex flex-column justify-content-center mx-auto">
                    <form class=""  >
                        <div class="pt-3 px-3">
                            <label for="inputPassword2" class="TextoShareHubFont visually">Correo electronico</label>
                            <input type="text" class="form-control rounded-5 mt-3" [formControl]="inputCorreo" />
                            <div class="fs-6 text-danger opacity-0" [class.opacidad]='ingreso.get("usuario")?.hasError("required") && ingreso.get("usuario")?.touched' >
                                El usuario es obligatoria
                            </div>
                            <div class="fs-6 text-danger opacity-0 alerta" [class.opacidad]='ingreso.get("usuario")?.hasError("minlength") && ingreso.get("usuario")?.touched' >
                                Debe tener minimo 6 caracteres
                            </div>
                        </div>
                        <div class="px-3">
                            <label for="inputPassword2" class="TextoShareHubFont visually rounded-5">Contraseña</label>
                            <input type="password" [formControl]="inputClave" class="form-control rounded-5 mt-3"/>
                            <div class="fs-6 text-danger opacity-0" [class.opacidad]='ingreso.get("contrasena")?.hasError("required") && ingreso.get("contrasena")?.touched'>
                                La contraseña es obligatoria
                            </div>
                            <div class="fs-6 text-danger opacity-0 alerta2" [class.opacidad]='ingreso.get("contrasena")?.hasError("minlength") && ingreso.get("contrasena")?.touched'>
                                Debe tener minimo 6 caracteres
                            </div>
                        </div>
                        <div class="p-3 d-flex flex-column justify-content-center">
                            <label for="inputPassword2" class="TextoShareHubFont visually-hidden "></label>
                            <button type="button"  (click)="ingresoUsuario()" class="btn btn-warning morado-oscuro-principal fw-bold my-3 TextoShareHubFont boton rounded-5">Ingresar</button>
                        </div>
                    </form>

                    <div class="d-flex justify-content-center p-3 linea2">
                        <span>¿No tienes una cuenta? </span><a class="ms-1 text-decoration-none link-registro" routerLink="/registro">Registrate aqui</a>
                    </div>
                    <h6 class="d-flex justify-content-center mt-3 ingresa">O ingresa con</h6>

                    <div class="d-flex justify-content-center">
                        <div><i class="fa-brands fa-google m-3 fa-2x"></i></div>
                        <div><i class="fa-brands fa-facebook m-3 fa-2x"></i></div>
                        <div><i class="fa-brands fa-apple m-3 fa-2x"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
