<div class="wrapper TextoShareHubFont position-fixed">
    <nav>
        <ul class="list-unstyled components">
            <li class="m-5">
                <a routerLink="/" class="text-decoration-none linksMI">Inicio</a>
            </li>
            <li class="m-5">
                <a routerLink="perfil" class="text-decoration-none linksMI">Buscar</a>
            </li>
            <li class="m-5">
                <a href="#" class="text-decoration-none linksMI">Notificaciones</a>
            </li>
            <li class="m-5">
                <a href="#" class="text-decoration-none linksMI">Explorar</a>
            </li>
        </ul>
    </nav>
</div>
